@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(font/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(font/Roboto-Regular.woff) format('woff');
}

body,html{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
nav{
    visibility: hidden;
    font-size: 35px;
    color: white;
    padding-left: 3%;
    position:fixed;
    top:0;
    width:100%;
    font-weight: 300;
}
footer {
    background: #fcfcfc;
    padding: 30px 0 10px 0;
    border-top: solid 1px #ddd;
    text-align: center;
    color: #666666;
}
#nav-name{
    font-size: 35px;
}

#nav-im{
    font-size: 15px;
}
#first-div{
    height: 100%;
    width: 100%;
    background-color: #FFBB33;
    position: relative;
}
#first-div-content{
    color: white;
    width: 80%;
    font-weight: 300;
    position: absolute;
    bottom: 0%;
    left: 3%;
}

#div-nav-arrow{
    width: 80px;
    height: 80px;
    background:transparent url(pic/down-arrow.png) no-repeat;
    position: fixed;
    bottom: 3%;
    right: 3%;
}
#second-div{
    background-color: #95d330;
    height: 100%;
}
.div-floater{
    float:left; height:50%; margin-bottom:-120px;
}
.div-center-content{
    clear:both; text-align: center; position:relative;
}
#android-logo{
    margin: auto;
    height: 153px;
    width:130px;
    background:transparent url(pic/android.png) no-repeat;
}

#third-div{
    background-color: #cc342d;
    height: 100%;
}
#ruby-logo{
    margin: auto;
    height: 153px;
    width:130px;
    background:transparent url(pic/ruby.png) no-repeat;
}