@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(font/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(font/Roboto-Regular.woff) format('woff');
}

body,html{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
nav{
    visibility: hidden;
    font-size: 35px;
    color: white;
    padding-left: 3%;
    position:fixed;
    top:0;
    width:100%;
    font-weight: 300;
    background-color: #FFBB33;
}
#nav-name{
    font-size: 35px;
}

#nav-im{
    font-size: 15px;
}
#first-div{
    height: 100%;
    width: 100%;
    background-color: #FFBB33;
    position: relative;
}
#first-div-content{
    color: white;
    width: 80%;
    font-weight: 300;
    position: absolute;
    bottom: 0%;
    left: 3%;
}

#first-div-arrow {
    width: 80px;
    height: 80px;
    background:transparent url(pic/down-arrow.png) no-repeat;;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
#second-div{
    height: 100%;
}